/* 通用設定 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted #333;
    margin: 1em 0;
    padding: 0; 
}
.ts-row .container{ width:937px}
.bg-w {background:#fff}
.bg-eee {background:#eee}
.bg-y1 {background:#fff57a}
.bg-y2 {background:#ffe21c}

/* 主視覺 */
.ts-header .container .row div { text-align:center; padding:initial }

/* title row */
#ts-row2 .row div { height:121px}

/* news, counter */
#ts-row3 .container {padding-bottom: 20px}
#ts-row3 .row div { height:84px; padding:0}
#ts-row3 ul { padding-left:20px}
#ts-row3 li { list-style-type:none}

/* 主選單 */
#ts-row4 .row {padding-right:25px}
#ts-row4 li { list-style-type:none}

/* 最新消息 */
#ts-row5 .container {baackground:#fff; background-image:url("images/15th-TSAA_index_24.jpg")}
#ts-row5 .container .row div { text-align:left; padding: 0 25px }
#ts-row5 img {margin:12px 0 12px 0px}
#ts-row5 img.read-more {margin:12px 0 }

/* 入圍作品 */
#ts-row6 .bg-img {text-align:left}
#ts-row6 .container .row div {padding:0}
#ts-row6 ul { padding-left: 0}
#ts-row6 ul li { list-style-type:none; float:left}
#ts-row6 ul.nav li a {border:initial; padding:0; margin:0}
#ts-row6 .tab-content .row {margin:initial}
#ts-row6 .tab-content .row div {padding:10px 23px;}

#ts-row7 .row div {max-width: 100%; overflow: hidden; padding:0}
#ts-row7 .row div img { width: 100% }

/* 文件展 */
#ts-row8 .time, #ts-row8 .location {font-weight:bold;}
#ts-row8 .detail {line-height:25px}
#ts-row8 .row div.info {padding-left:40px}
#ts-row8 .row div.show-img {text-align: center}

#ts-row9 .row div {max-width: 100%; overflow: hidden; padding:0}
#ts-row9 .row div img { width: 100% }









